<div class="container mt-4">
  <div class="d-flex justify-content-between align-items-center mb-4">
    <h2 class="fw-bold">Events</h2>
    <a routerLink="/events/new" class="btn btn-primary">+ Add new event</a>
  </div>

  <div class="table-responsive bg-white shadow-sm rounded">
    <table class="table table-hover align-middle mb-0">
      <thead class="bg-light">
        <tr>
          <th role="button" (click)="sort('name')">NAME <i class="bi bi-arrow-down-up"></i></th>
          <th role="button" (click)="sort('location')">PLACE <i class="bi bi-arrow-down-up"></i></th>
          <th role="button" (click)="sort('capacity')">CAPACITY <i class="bi bi-arrow-down-up"></i></th>
          <th>ACTIONS</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let event of events">
          <td class="fw-bold">{{ event.name }}</td>
          <td>
            <div>{{ event.location }}, <span class="text-muted">{{ event.country }}</span> </div>
          </td>
          <td>{{ event.capacity }} ppl</td>
          <td>
            <a [routerLink]="['/events/edit', event.id]" class="text-decoration-none text-secondary me-3">
              <i class="bi bi-pencil-fill"></i> Edit
            </a>
            <button class="btn btn-link text-decoration-none text-danger p-0" (click)="deleteEvent(event.id!)">
              <i class="bi bi-trash-fill"></i> Delete
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>