**/.git
**/.gitignore
**/.vs
**/.vscode
**/.idea
**/*.*proj.user
**/*.swp
**/.DS_Store

**/bin/
**/obj/
**/TestResults/


**/node_modules/
**/dist/
**/.angular/
npm-debug.log
yarn-error.log

.env
.dockerignore
Dockerfile
docker-compose.yml