.loading-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.7);
    /* Semi-transparent white */
    z-index: 9999;
    /* Ensure it is on top of everything */
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(2px);
}