<div class="container d-flex justify-content-center align-items-center vh-100">
  <div class="card p-4 shadow-sm" style="max-width: 400px; width: 100%;">
    <h2 class="text-center mb-4 fw-bold">Login</h2>

    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">

      <div class="mb-3">
        <label class="form-label">Username</label>
        <input type="text" class="form-control" formControlName="username" placeholder="Enter username">

        <div *ngIf="loginForm.get('username')?.touched && loginForm.get('username')?.errors?.['required']"
          class="text-danger small">
          Username is required.
        </div>
      </div>

      <div class="mb-3">
        <label class="form-label">Password</label>
        <input type="password" class="form-control" formControlName="password">
        <div *ngIf="loginForm.get('password')?.touched && loginForm.get('password')?.errors?.['pattern']"
          class="text-danger small">
          Password must contain uppercase, lowercase and a number.
        </div>
      </div>

      <div *ngIf="errorMessage" class="alert alert-danger py-2">{{ errorMessage }}</div>

      <button type="submit" [disabled]="loginForm.invalid" class="btn btn-primary w-100">Sign In</button>
    </form>
  </div>
</div>