@import 'bootstrap/scss/bootstrap';
@import 'bootstrap-icons/font/bootstrap-icons.css';

body {
  background-color: #f8f9fa;
}

.btn-primary {
  background-color: #168acd; 
  border-color: #168acd;
}

.text-red {
  color: #dc3545;
}